/* 기본적인 Flexbox 설정 */
.bg-home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.bg-home img {
    max-width: 100%;
    height: auto;
}

#main-time {
    position: absolute;
    top: 20%;  /* 시간을 화면 상단에서 20% 위치에 고정 */
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem; /* 텍스트 크기를 rem 단위로 설정하여 반응형으로 대응 */
}

#text-content {
    margin-top: 1vh; /* 시간 텍스트와의 간격을 vh 단위로 설정하여 화면 크기에 비례하도록 설정 */
    font-size: 3rem;
}

#sub-text {
    font-size: 1.5rem;
    margin-top: 2vh; /* 텍스트 간의 간격을 vh 단위로 설정하여 화면 크기에 비례하도록 설정 */
}

/* 반응형 디자인 적용을 위한 미디어 쿼리 */
@media (max-width: 768px) {
    #main-time {
        font-size: 1.5rem;
        top: 20%; /* 화면 크기에 따라 시간 위치 조정 */

    }

    #text-content {
        font-size: 2rem;
        margin-top: 8vh; /* 작은 화면에서 간격을 줄이는 부분 */
    }

    #sub-text {
        font-size: 1rem;
        margin-top: 1.5vh; /* 작은 화면에서 간격을 줄이는 부분 */
    }
}

@media (max-width: 480px) {
    #main-time {
        font-size: 1rem;
        top: 10%; /* 더 작은 화면에서 시간 위치 조정 */
    }

    #text-content {
        font-size: 1.5rem;
        margin-top: 5vh; /* 작은 화면에서 간격을 더 줄이는 부분 */
    }

    #sub-text {
        font-size: 0.875rem;
        margin-top: 1vh; /* 작은 화면에서 간격을 더 줄이는 부분 */
    }
}
